.aside{
    background:#000;
}
.box{
    display: flex;
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
}
.toptit{
    color:#fff;
    text-align:center;
    line-height:75px;
}
.add{
    color:#fff;margin-lefT:50px;
}