.box{
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
    background:blue;
}
.form{
    width:300px;
    height:55%;
    background:#fff;
    position:absolute;
    top:25%;
    right:10%;
}
.form h2{
    line-height:40px;
    padding-lefT:30px;
    margin-top:10px;
    border-bottom:1px solid #ccc;
}

.form p input,
.form p img{
    width:40%;
    height:40px;
}
.form p img{
    width:35%;
     margin-top:-3px;
     margin-left:5%;
}
.form input,
.form button {
    width:80%;
    height:40px;
    margin-left:10%;
    margin-top:10px;
    border:1px solid #ccc;
    padding-left:5px;
}
.form button{
    background: blue;
    color:#fff;
}
.form h4 {
    background: red;
    color:#fff;
    width:80%;
    margin-left:10%;
    padding-lefT:10px;
}
