.toolone{

}
.toolone dl{
    width:35%;
    float: left;
    display: flex;
    background:#fff;
    padding: 10px;
}
.toolone dl:nth-child(3){
    margin-left:20px;
}

.toolone dl dt{
    width:30px;
    height:30px;
    background: orange;
    border-radius: 50%;
    padding:30px;
    margin-top:30px;
    margin-right:20px;
}
.toolone p{
    font-size:10px;
}

    